Source: django-testscenarios
Section: net
Priority: optional
Maintainer: Neil Williams <codehelp@debian.org>
Build-Depends: debhelper (>= 8.0.0),
 python | python-all | python-dev | python-all-dev,
 python-versiontools, python-setuptools
X-Python-Version: 2.7
Standards-Version: 3.9.4
Homepage: http://www.linaro.org/engineering/validation
#Vcs-Git: git://git.debian.org/collab-maint/django-testscenarios.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/django-testscenarios.git;a=summary

Package: django-testscenarios
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Django test scenarios support
 This package provides django test support for
 LAVA.
