Source: django-testscenarios
Section: net
Priority: optional
Maintainer: Debian LAVA team <pkg-linaro-lava-devel@lists.alioth.debian.org>
Uploaders: Antonio Terceiro <terceiro@debian.org>,
 Neil Williams <codehelp@debian.org>,
 Fathi Boudra <fabo@debian.org>, Jordi Mallach <jordi@debian.org>
Build-Depends: debhelper (>= 8.0.0),
 python | python-all | python-dev | python-all-dev,
 python-versiontools, python-setuptools
X-Python-Version: 2.7
Standards-Version: 3.9.4
Homepage: http://www.linaro.org/engineering/validation
Vcs-Git: https://alioth.debian.org//git/pkg-linaro-lava/django-testscenarios.git
Vcs-Browser: https://alioth.debian.org/plugins/scmgit/cgi-bin/gitweb.cgi?p=pkg-linaro-lava/django-testscenarios.git;a=summary

Package: django-testscenarios
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Django test scenarios support
 This package provides django test support for
 LAVA.
